# Composer
/vendor
/bin/phpunit
/bin/jsonlint
/bin/phpcbf
/bin/phpcs
/bin/validate-json
/bin/pdepend
/bin/php-cs-fixer
/bin/phpmd
/bin/jsonlint.bat
/bin/validate-json.bat

# Binaries
/box.phar
/console.phar

# Test
/phpunit.xml

# Drupal
/core
