{{ yaml_comment('commands.dotenv.init.messages.template-env') }}

# ENV
ENVIRONMENT={{ environment }}

# Database
DATABASE_NAME={{ database_name }}
DATABASE_USER={{ database_user }}
DATABASE_PASSWORD={{ database_password }}
DATABASE_HOST={{ database_host }}
DATABASE_PORT={{ database_port }}

# HOST
HOST_NAME={{ host_name }}
HOST_PORT={{ host_port }}

# Default values for drupal-composer
DRUPAL_ROOT={{ drupal_root }}
SERVER_ROOT={{ server_root }}

{% if load_settings is defined %}
# SETTINGS
SETTINGS_BAR=baz
SETTINGS_LOREM=ipsum
{% endif %}
