# ENV
ENVIRONMENT={{ environment }}

# Database
DATABASE_NAME={{ database_name }}
DATABASE_USER={{ database_user }}
DATABASE_PASSWORD={{ database_password }}
DATABASE_HOST={{ database_host }}
DATABASE_PORT={{ database_port }}

# SETTINGS
#SETTINGS_BAR=baz
#SETTINGS_LOREM=ipsum
